.center {
    display: table;
    width: 100%;
    height: 100%;
}

.center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: #333;
    font-family: monospace;
}

.qualys-base-button {
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 5px;
    background: #777;
    font-weight: bold;
}
.qualys-button {
    background: #333;
    cursor: pointer;
}
.qualys-button:hover {
    background: #222;
}
.qualys-button:active {
    background: #555;
}

.login-window .x-window-body {
    background: #F4F4F4;
    padding: 20px;
    text-align: center;
}
.login-window .qualys-base-button {
    margin-top: 20px;
}
